include README.rst
include tests/*.py
include tests/fixtures/*.html
include park_api/cities/*.geojson
include forecast_data/*.csv
include schema/*.json
include config_example.ini
include config.ini
include requirements.txt
include config/deploy.rb
include config/parkendd.service
