beautifulsoup4==4.9.3
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
ddt==1.4.2
feedparser==6.0.2
Flask==1.1.2
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.1
psycopg2==2.8.6
pytz==2021.1
requests==2.25.1
requests-mock==1.8.0
sgmllib3k==1.0.0
six==1.15.0
soupsieve==2.2
sqlparse==0.4.1
tabulate==0.8.9
urllib3==1.26.19
utm==0.7.0
Werkzeug==1.0.1
yoyo-migrations==7.3.1
