[Service]
User=parkendd
WorkingDirectory=/home/parkendd/ParkAPI
Environment=VIRTUAL_ENV="/home/parkendd/venv"
Environment=PATH="$VIRTUAL_ENV/bin:$PATH"
ExecStart=/home/parkendd/ParkAPI/venv/bin/python bin/parkapi-server
Restart=Always

[Install]
WantedBy=multi-user.target
